
p {
 font-family: Arial;
 color: #66FF00;
 text-align: justify;
 font-family: monospace;
}

body {
  background-color: black;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.title-page {
  font-family: Arial;
  color: #66FF00;
}

button {
  font-size: 30px;
  color: black;
  background-color: #f2f2f2;
}

.form1 {
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 350px;
  border: 1px solid black;
  box-sizing: border-box;
}

.finder {
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 350px;
  border: 1px solid black;
  box-sizing: border-box;
}

#submit {
  width: 306px;
}

#search {
  width: 300px;
  height: 30px;
}

#searchPlace {
  width: 300px;
  height: 30px;
}

#searchPlaces {
  width: 300px;
}
