
p {
 font-family: Arial;
 color: #66FF00;
 text-align: justify;
 font-family: monospace;
}

body {
  background-color: black;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.title-page {
  font-family: Arial;
  color: #66FF00;
}

button {
  font-size: 30px;
}
